ion-toolbar{
    box-shadow: 0 6px 2px -2px rgba( 0,0,0, .2);
}

.column {
    float: left;
    width: 33%;
    padding: 0px;
    // padding-top: 2px;
    // height: 50px;
    margin-right: auto;
    margin-left: auto;

    ion-button{
        width: 20px;
        height: 20px; 
    }
  
    


.row:after {
    content: "";
    display: table;
    clear: both;
}

}

h1{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

ion-content{

    --ion-background-color: #5BC2E7;
}

section {
    margin-top: 5em;
    margin-bottom: 2em;
  }

.error-messages {
    font-size: 0.7em;
    color: red;
    text-align: center;
}








