<ion-header>
  <ion-toolbar>

          <div class="row">
              <div class="column">
               <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
               </ion-buttons>
              </div>
        

        <!-- image atas -->
              <div class="column">
                <h1>SIGN UP</h1>
              </div>
        
            </div>
  
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm">
      <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" type="text" placeholder="Enter username"
            [class.invalid]="!signupForm.controls['username'].valid && signupForm.controls['username'].touched" >
          </ion-input>
        </ion-item>
        <ion-item
          class="error-message"
          *ngIf="!signupForm.controls['username'].valid
          && signupForm.controls['username'].touched" >
          <ion-label>Please enter a username.</ion-label>
        </ion-item>
    
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Enter email address"
        [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched" >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!signupForm.controls['email'].valid
      && signupForm.controls['email'].touched">
      <ion-label>Please enter a valid email.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Enter password"
        [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="!signupForm.controls['password'].valid  &&
      signupForm.controls['password'].touched">
      <ion-label>Your password needs more than 6 characters.</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Date of Birth</ion-label>
        <ion-input formControlName="dob" type="date" placeholder=""
          [class.invalid]="!signupForm.controls['dob'].valid && signupForm.controls['dob'].touched" >
        </ion-input>
      </ion-item>
      <ion-item
        class="error-message"
        *ngIf="!signupForm.controls['dob'].valid
        && signupForm.controls['dob'].touched"
      >
        <ion-label>Please enter Date of Birth.</ion-label>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input formControlName="phonenumber" type="tel" placeholder="Enter phone Number"
            [class.invalid]="!signupForm.controls['phonenumber'].valid && signupForm.controls['phonenumber'].touched" >
          </ion-input>
        </ion-item>
        <ion-item
          class="error-message"
          *ngIf="!signupForm.controls['phonenumber'].valid
          && signupForm.controls['phonenumber'].touched"
        >
          <ion-label>Please enter a Phone Number</ion-label>
        </ion-item>
    

  <section>

    <ion-button expand="block" (click)="signupUser(signupForm)" [disabled]="!signupForm.valid">
      Create an Account
    </ion-button>
    </section>

    <section>

        <ion-button expand="block" href="/login-page">
          Already have an account?
        </ion-button>
        </section>
  </form>
</ion-content>
  

