
<ion-header translucent="true">
  <ion-toolbar>

    <div class="column">
            <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </div>

        <div class="column">
          <h1>LOGIN</h1>
        
        </div>
        
    <!-- <ion-title text-center> -->
        <!-- <img class="displayed" src="assets/bytheway.png" alt="logo" style="width:150px;height:150px;"> -->
        <!-- Login
    
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input
          formControlName="username"
          type="username"
          placeholder="Enter your username"
          [class.invalid]="!loginForm.controls['username'].valid &&
          loginForm.controls['username'].touched"
        >
        </ion-input>
      </ion-item>
      <ion-item
        class="error-message"
        *ngIf="!loginForm.controls['username'].valid &&
           loginForm.controls['username'].touched"
      >
        <ion-label>Please enter your username.</ion-label>
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Enter your password"
          [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched"
        >
        </ion-input>
      </ion-item>
      <ion-item
        class="error-message"
        *ngIf="!loginForm.controls['password'].valid
          && loginForm.controls['password'].touched"
      >
        <ion-label>Your password needs more than 6 characters.</ion-label>
      </ion-item>
  
    <section>
      <ion-button
        (click)="loginTaxi(loginForm)"
        expand="block"
        [disabled]="!loginForm.valid"
      >
        Log In
      </ion-button>
      </section>
    </form>
    
    
    <ion-button expand="block" fill="clear" color="dark"  routerLink="/signup-page">
      Create a new account
    </ion-button>
    
    <ion-button expand="block" fill="clear" color="dark" routerLink="/reset-password">
      Forgot password?
    </ion-button>
  
  </ion-content>
